# Django Settings
SECRET_KEY=django-insecure-%_aijh#dbhvhuzm5!9+1!!tnqjzgg9k-a)i6zi+r#y57c=49g%
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
# Set this to connect to PostgreSQL. If left empty or unset, SQLite will be used.
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/salon_db

# Celery & Redis Settings
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
